@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis-weight: none;
  font-synthesis-style: none;
  font-kerning: normal;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  font-optical-sizing: auto;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Global styles for the body */
body {
  @apply font-sans bg-brand-gray text-brand dark:bg-brand-dark dark:text-brand-text-dark;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-900 dark:text-gray-100;
}

table {
  @apply text-gray-900 dark:text-gray-100;
}

thead {
  @apply bg-gray-100 dark:bg-gray-800;
}

thead th {
  @apply text-gray-900 dark:text-gray-100;
}

tbody tr {
  @apply border-gray-200 dark:border-gray-700;
}

tbody td {
  @apply bg-white dark:bg-brand-gray-dark;
}

@layer utilities {
  .animate-fadeInUp {
    @apply transition-all duration-200 ease-out transform opacity-0 scale-95;
    animation: fadeInUp 0.2s ease-out forwards;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px) scale(0.95);
    }

    to {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #adadad #eee;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid #eee;
}

/* Hide scrollbars but allow scrolling */
.chat-scroll {
  -ms-overflow-style: none; /* IE 10+ and old Edge */
  scrollbar-width: none;    /* Firefox */
}
.chat-scroll::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Opera */
}